{#<link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}" type="text/css">#}
{#<div class="b_btm_bg b_btm_c" id="footer">#}
{#        <div class="b_btm">#}
{#            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">#}
{#                <tr>#}
{#                    <td width="72"><img src="{{url_for('static',filename='images/b1.png')}}" width="62" height="62" /></td>#}
{#                    <td><h2>正品保障</h2>正品行货  放心购买</td>#}
{#                </tr>#}
{#            </table>#}
{#            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">#}
{#                <tr>#}
{#                    <td width="72"><img src="{{url_for('static',filename='images/b2.png')}}" width="62" height="62" /></td>#}
{#                    <td><h2>满38包邮</h2>满38包邮 免运费</td>#}
{#                </tr>#}
{#            </table>#}
{#            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">#}
{#                <tr>#}
{#                    <td width="72"><img src="{{url_for('static',filename='images/b3.png')}}" width="62" height="62" /></td>#}
{#                    <td><h2>天天低价</h2>天天低价 畅选无忧</td>#}
{#                </tr>#}
{#            </table>#}
{#            <table border="0" style="width:210px; height:62px; float:left; margin-left:75px; margin-top:30px;" cellspacing="0" cellpadding="0">#}
{#                <tr>#}
{#                    <td width="72"><img src="{{url_for('static',filename='images/b4.png')}}" width="62" height="62" /></td>#}
{#                    <td><h2>准时送达</h2>收货时间由你做主</td>#}
{#                </tr>#}
{#            </table>#}
{#        </div>#}
{#    </div>#}
{#<div th:fragment="permit">#}
{#    <div class="btmbg">#}
{#        <div class="btm">#}
{#            备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />#}
{#            <img src="{{url_for('static',filename='images/b_1.gif')}}" width="98" height="33" /><img src="{{url_for('static',filename='images/b_2.gif')}}" width="98" height="33" /><img src="{{url_for('static',filename='images/b_3.gif')}}" width="98" height="33" /><img src="{{url_for('static',filename='images/b_4.gif')}}" width="98" height="33" /><img src="{{url_for('static',filename='images/b_5.gif')}}" width="98" height="33" /><img src="{{url_for('static',filename='images/b_6.gif')}}" width="98" height="33" />#}
{#        </div>#}
{#    </div>#}
{#</div>#}